* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #b3c3ff;
  border-radius: 2px;
}

#root {
  height: inherit;
  width: inherit;
}
